---
layout: post
title: Jual Topi Snapback - GS 2128 Murah
date: '2017-02-09T00:00:00+00:00'
permalink: topi-snapback-gs-2128
categories: topi
tags: gshop-geearsy
jenis: topi
brand: gshop-geearsy
description: Topi Bahan Twill, Ukuran All Size, Warna Maroon
image: https://images.lipatan.com/katalog-gshop-geearsy/foto-produk-satuan/189-gs-2128.jpg
product: Topi Snapback - GS 2128
price: Rp 106.900
sku: GS 2128
kondisi: Baru
---

     <div class="product-details"><!--product-details-->
      <div class="col-sm-5">
       <div class="view-product">
        <img src="{{ page.image }}" alt="{{ page.product }}" title="{{ page.product }}" />
        <h3><a style="text-decoration: none; color: #ffffff" href="{{ page.image }}" target="_blank" title="Klik disini untuk memperbesar">ZOOM</a></h3>
       </div>
      </div>

      <div class="col-sm-7">
       <div class="product-information"><!--/product-information-->
        <h1>{{ page.product }}</h1>
        <p>SKU: {{ page.sku }}</p>
        <img src="{{ site.url }}/img/rating.png" alt="rating" title="rating" /><br>
        <span>
         <span>{{ page.price }}</span>        
         <label>Stok:<a href="http://stok.lipatan.com" target="_blank" title="Cek Stok">
          <script type="text/javascript">
          <!--
          document.write(unescape('%3c%62%75%74%74%6f%6e%20%74%79%70%65%3d%22%62%75%74%74%6f%6e%22%20%63%6c%61%73%73%3d%22%62%74%6e%20%62%74%6e%2d%66%65%66%61%75%6c%74%20%63%61%72%74%22%3e%09%09%09%09%09%09%09%09%09%09%3c%69%20%63%6c%61%73%73%3d%22%66%61%20%66%61%2d%73%68%6f%70%70%69%6e%67%2d%63%61%72%74%22%3e%3c%2f%69%3e%09%09%09%09%09%09%09%09%09%09%43%65%6b%20%53%74%6f%6b%3c%2f%62%75%74%74%6f%6e%3e'));
          //-->
          </script>
          </a>
         </label>
        </span>
        <p><b>Kondisi:</b> {{ page.kondisi }}</p>
        <p><b>Deskripsi:</b> {{ page.description }}</p>
        {% include buy.html %}
       </div><!--/product-information-->
      </div>
     </div><!--/product-details-->
     
     <div class="category-tab shop-details-tab"><!--category-tab-->
      <div class="col-sm-12">
       <ul class="nav nav-tabs">
        <li class="active"><a href="{{ site.url }}{{ page.url }}#keterangan" data-toggle="tab" title="Keterangan">Keterangan</a></li>        
       </ul>
      </div>
      <div class="tab-content">
       <div class="tab-pane fade active in" id="keterangan" >
        <div class="col-sm-12">
         <h2>{{ page.product }}</h2>         
         <ol class="breadcrumb">
            <li class="active">Tag :</li>
            <li><a href="{{ site.url }}/{{ page.jenis }}" title="{{ page.jenis }}">{{ page.jenis }}</a></li>
            <li><a href="{{ site.url }}/{{ page.brand }}" title="{{ page.brand }}">{{ page.brand }}</a></li>  
         </ol>         
         <p>Tampil trendy dengan Topi merek G-SHOP dan Geearsy. Brand fashion asal Bandung. Cocok untuk hadiah orang yang Anda sayangi agar terlihat lebih gaya, tampil berbeda dan percaya diri. Topi Snapback - GS 2128 dengan bahan Twill ini dijamin awet.<br/>Kode : GS 2128<br/>Warna : Maroon<br/>Bahan : Twill<br/>Ukuran : All Size<br/>Berat : 0.2 kg<br>
         </p>

         <p style="background-color: #5cb85c; color: #ffffff; padding: 5px; text-align: center; display: inline-block; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
         ID Penjual : BDRS<br>
         Lokasi : Bandung</p>

         {% include share.html %}

         {% include disqus.html %}
         
        </div>
       </div>       
       
      </div>
     </div><!--/category-tab-->
